<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

    <th:block layout:fragment="content">
	
	<!-- Board 영역 -->
    <div class="card-content">
        <form class="form-horizontal form-view">
    		<div class="form-group">
    			<label for="inp-type-1" class="col-sm-2 control-label">제목</label>
    			<div class="col-sm-9"><p id="title" class="form-control"></p></div>
    		</div>

    		<div class="form-group">
    			<label for="inp-type-2" class="col-sm-2 control-label">이름</label>
    			<div class="col-sm-9"><p id="writer" class="form-control"></p></div>
    		</div>

    		<div class="form-group">
    			<label for="inp-type-5" class="col-sm-2 control-label">내용</label>
    			<div class="col-sm-9"><p id="content" class="form-control"></p></div>
    		</div>

    		<div class="form-group">
    			<label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
    			<div class="col-sm-9"><p id="date" class="form-control"></p></div>
    		</div>

    		<div class="form-group">
    			<label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
    			<div class="col-sm-9"><p id="hits" class="form-control"></p></div>
    		</div>
		</form>

		<!-- Board 관련 버튼 영역 -->
    	<div class="btn_wrap text-right col-sm-11" style="margin-bottom: 25px;">
    		<a href="javascript: void(0);" onclick="goListWithHref();" class="btn btn-default waves-effect waves-light">뒤로가기</a>
    		<a href="javascript: void(0);" onclick="goWrite();" class="btn btn-violet waves-effect waves-light">수정하기</a>
    		<button type="button" onclick="deleteBoard();" class="btn btn-danger waves-effect waves-light">삭제하기</button>
    	</div>
    	
    	<!-- Comment 작성 영역 -->
		<div class="comments">
			<form id="commentForm" class="form-horizontal form-view">
				<div class="form-group">
					<label for="commentWriter" class="col-sm-2 control-label">작성자</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="commentWriter" placeholder="작성자 이름" style="background-color: transparent;">
					</div>
				</div>
				
				<div class="form-group">
					<label for="commentText" class="col-sm-2 control-label">댓글</label>
					<div class="col-sm-9">
						<textarea class="form-control" id="commentText" rows="3" placeholder="댓글 내용" style="background-color: transparent;"></textarea>
					</div>
				</div>
				
				<!-- Comment 관련 버튼 영역 -->
				<div class="btn_wrap text-right col-sm-11">
					<button type="button" onclick="writeComment();" class="btn btn-primary waves-effect waves-light">작성하기</button>
				</div>
			</form>
		</div>
		
		<!-- 댓글 리스트 목록 영역-->
		<div class="comment-list text-center col-sm-12">
		
		</div>
		
		<!-- 댓글 Pagination 영역-->
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				
			</ul>
		</nav>		
    </div>
    </th:block>

	<th:block layout:fragment="script">
	<script th:inline="javascript">
	/*<![CDATA[*/
	
		window.onload = () => {
			findBoard();
			findAllComments();
		}
		/*
		* 게시글 조회
		*/
		function findBoard() {
			const id = /*[[ ${id} ]]*/  0;
			
			fetch(`/api/boards/${id}`).then(response => {
				if(!response.ok) {
					throw new Error('Request failed...');
				}
				return response.json();
			}).then(json => {
				console.table(json);
				json.modifiedDate ? json.date = moment(json.modifiedDate).format('YYYY-MM-DD HH:mm:ss') : json.date = moment(json.createdDate).format('YYYY-MM-DD HH:mm:ss');
				
				Object.keys(json).forEach(key => {
					const elem = document.getElementById(key);
					if (elem) {
						elem.innerText = json[key];
					}
				});
			}).catch(error => {
				alert('게시글 정보를 찾을 수 없습니다.');
				goListWithReplace();
			});
		}

		/*
		* 게시글 리스트 이동
		*/
		function goListWithHref() {
			location.href = '/board/list' + location.search;
		}
		
		/*
		* 예외 시 게시글 리스트 이동
		*/
		function goListWithReplace() {
			location.replace('/board/list' + location.search);
		}
		
		/*
		* 수정하기
		*/
		function goWrite() {
			location.href = '/board/write' + location.search + `&id=[[ ${id} ]]`;
		}
		
		/*
		* 삭제하기
		*/
		function deleteBoard() {
			const id = /*[[ ${id} ]]*/ 0;
			
			if (!confirm(`${id}번 게시글을 삭제할까요?`) ) {
				return false;
			}
			
			fetch(`/api/boards/${id}`, {
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (!response.ok) {
					throw new Error('Request failed...');
				}
				
				alert('삭제되었습니다.');
				goListWithReplace();
			}).catch(error => {
				alert('오류가 발생했습니다.')
			});
		}
		
		/*
		* 댓글 유효성 검사
		*/
		function isValid() {
			const commentForm = document.getElementById('commentForm');
			
			if (!commentForm.commentWriter.value.trim()) {
				alert('댓글 작성자를 입력해주세요.');
				commentForm.commentWriter.value='';
				commentForm.commentWriter.focus();
				return false;
			}
			
			if (!commentForm.commentText.value.trim()) {
				alert('댓글 내용을 입력해주세요.');
				commentForm.commentText.value='';
				commentForm.commentText.focus();
				return false;
			}
			
			return true;
		}
		
		/*
		* 댓글 등록
		*/
		function writeComment() {
			if (!isValid()) {
				return false;
			}
			
			const commentForm = document.getElementById('commentForm');
			const params = {
				writer: commentForm.commentWriter.value,
				comment: commentForm.commentText.value,
				isDeleted: false
			};
			const id = /*[[ ${id} ]]*/ 0;
			const uri = `/api/boards/${id}/comments`;
			const method = 'POST';
			
			fetch(uri, {
				method: method,
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify(params)
			}).then(response => {
				if (!response.ok) {
					throw new Error('Request failed...');
				}
				
				alert('댓글이 작성되었습니다.');
				commentForm.commentWriter.value = '';
        		commentForm.commentText.value = '';
				findAllComments();
			}).catch(error => {
				alert('댓글 작성에서 오류가 발생하였습니다.');
			});
		}
		
		/*
		* 게시글 리스트 조회
		*/
		function findAllComments(pageNumber) {
			const id = /*[[ ${id} ]]*/ 0;
			const pageNumberParam = Number(new URLSearchParams(location.search).get('page'));
			pageNumber = (pageNumber) ? pageNumber : ((pageNumberParam) ? pageNumberParam : 0); 
			console.log(pageNumber);
			const url = `/api/boards/${id}/comments?page=${pageNumber}`;
			
			fetch(url).then(response => {
				if (!response.ok) {
					throw new Error('Request failed...');
				}
				
				return response.json();
			}).then(page => {
				
				comment = page.content;
				
				if (comment.length == 0) {
					document.querySelector('.comment-list').innerHTML = '<p style="margin-bottom: 20px; margin-top: 20px;">등록된 댓글이 없습니다.</p>';

				} else {
					createCommentList(comment);
				}
				
				renderPageButtons(page);
			}).catch(error => {
				console.log(error);
				alert('댓글을 찾을 수 없습니다.');
			});
		}
		
		/*
		* 댓글 리스트 생성 분리
		*/
		function createCommentList(json) {
			let commentHtml = '<div class="text-center" style="margin-bottom: 50px; margin-top: 20px;"><h3>댓글 목록</h3></div>';
					
			json.forEach(obj => {
				commentHtml += `
							<div>
								<form class="form-horizontal form-view">
									<div class="form-group">
										<label for="commentWriter" class="col-sm-2 control-label">작성자</label>
										<div class="col-sm-2">
											<span class="form-control">${obj.writer}</span>
										</div>

										<label for="commentText" class="col-sm-1 control-label">작성일</label>
										<div class="col-sm-2">
											<span class="form-control">${obj.modifiedDate ? moment(obj.modifiedDate).format('YYYY-MM-DD HH:mm:ss') : moment(obj.createdDate).format('YYYY-MM-DD HH:mm:ss')}</span>
										</div>
									</div>
									
									<div class="form-group">
										<label for="commentWriter" class="col-sm-2 control-label">댓글</label>
										<div class="col-sm-9">
											<span class="form-control text-left">${obj.comment}</span>
										</div>
									</div>
									
									<!-- Comment 관련 버튼 영역 -->
									<div class="btn_wrap text-right col-sm-11">
										<button type="button" class="btn btn-violet waves-effect waves-light">수정하기</button>
										<button type="button" onclick="deleteComment(${obj.id});" class="btn btn-danger waves-effect waves-light">삭제하기</button>
									</div>
								</form>
							</div>

						`;
			});

			document.querySelector('.comment-list').innerHTML = commentHtml;
		}
		
		/*
		* 댓글 삭제
		*/
		function deleteComment(commentId) {
			const id = /*[[ ${id} ]]*/ 0;
			const url = `/api/boards/${id}/comments/${commentId}`;
			
			fetch(url, {
				method: 'DELETE',
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (!response.ok) {
					throw new Error('Request failed...');
				}
				
				alert('댓글이 삭제되었습니다.');
				findAllComments()
			}).catch(error => {
				alert('댓글 삭제 중 오류가 발생했습니다.')
			});
		}

		/*
		* 페이지 HTML 렌더링
		*/
		function renderPageButtons(page) {
			
			if (!page) {
				document.querySelector('.pagination').innerHTML = '';
				throw new Error('Missing required parameters...');
			}
			
			let html = '';
			const offset = page.pageable.offset;
			const pageNumber = page.pageable.pageNumber;
			const pageSize = page.pageable.pageSize;
			const totalElements = page.totalElements;
			
			// 0부터 시작하기 때문에 개수를 하나 줄여서 계산합니다.
			const totalPages = page.totalPages - 1;
			const startPage = Math.floor(pageNumber / pageSize) * pageSize;
			let endPage = startPage + pageSize - 1;
			if (endPage > totalPages) {
				endPage = totalPages;
			}
			
			const existPrevPage = startPage != 0;
			const existNextPage = ((endPage + 1) * pageSize) < totalElements;
			
			// 첫 페이지, 이전 페이지
			if (existPrevPage) {
				html += `
						<li><a href="javascrpit:void(0)" onclick="findAllComments(0)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a><li>
						<li><a href="javascript:void(0)" onclick="findAllComments(${startPage-1})" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a></li>
				`;
			}
			
			// 페이지 번호
			for (let i = startPage; i <= endPage; i++) {
				const active = (i === pageNumber) ? 'class="active"' : '';
				html += `<li ${active}><a href="javascrpit:void(0)" onclick="findAllComments(${i})">${i+1}</a></li> `;
			}
			// 다음 페이지, 마지막 페이지
			if (existNextPage) {
				html += `
						<li><a href="javascript:void(0)" onclick="findAllComments(${endPage+1})" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a></li>
						<li><a href="javascript:void(0)" onclick="findAllComments(${totalPages})" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
				`;
			}
			
			document.querySelector('.pagination').innerHTML = html;
			
			const urlSearchParams = new URLSearchParams(location.search);
			urlSearchParams.set('page', pageNumber);
			
			const updatedQuery = urlSearchParams.toString();
			
			const updatedUrl = location.pathname + '?' + updatedQuery;
			
			history.replaceState({}, '', updatedUrl);			
		}
				
	/*]]>*/
	</script>
	</th:block>
</html>