<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
	<style>
		.form-control {
		  background-color: transparent;
		}
	</style>
</head>
	<th:block layout:fragment="content">
		<div class="card-content">
			<form id = "form" class="form-horizontal" enctype="multipart/form-data">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">제목</label>
					<div class="col-sm-10">
						<input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해 주세요." />
					</div>
				</div>
	
				<div class="form-group">
					<label for="writer" class="col-sm-2 control-label">이름</label>
					<div class="col-sm-10">
						<input type="text" id="writer" name="writer" class="form-control" placeholder="이름을 입력해 주세요." />
					</div>
				</div>
	
				<div class="form-group">
					<label for="content" class="col-sm-2 control-label">내용</label>
					<div class="col-sm-10">
						<textarea id="content" name="content" class="form-control" placeholder="내용을 입력해 주세요."></textarea>
					</div>
				</div>
				<!-- 수정 시 모델을 통해 원본 이름 리스트를 보내주는 데 리스트가 존재한다면-->
				<th:block th:if="${not #lists.isEmpty(boardFileOriginalName)}">
					<div class="original-name-list form-group">
						<label for="inp-type-5" class="col-sm-2 control-label">첨부파일</label>
			    			<span th:each="boardFileOriginalName : ${boardFileOriginalName}" >
			              		<span th:text="${boardFileOriginalName.originalName}" >파일이름1.png</span>
			              		<button type="button" th:attr="onclick='deleteFile(' + ${boardFileOriginalName.id} + ');'" style="margin-right: 20px;">Delete</button>
			          		</span>
		    		</div>
				</th:block>
				<div class="form-group">
                    <label for="formFileMultiple" class="col-sm-2 control-label">파일업로드</label>
                    <div class="col-sm-10">
                    	<input class="form-control" type="file" id="formFileMultiple" name="multipartFiles" multiple>
                    </div>
                </div>
	
				<div class="btn_wrap text-center">
					<a href="javascript: void(0);" onclick="goBack();" class="btn btn-default waves-effect waves-light">돌아가기</a>
					<button type="button" onclick="writeBoard();" class="btn btn-primary waves-effect waves-light">저장하기</button>
				</div>
			</form>
		</div>
	</th:block>


	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
				window.onload = () => {
						findBoard();
				}

				/*
				* 게시글 리스트 이동
				*/
				function goListWithHref() {
					location.href ='/board/list' + location.search;
				}
				
				/*
				* 예외 시 게시글 리스트 이동
				*/
				function goListWithReplace() {
					location.replace('/board/list' + location.search);
				}
				
				/*
				* 현재 게시글 이동
				*/
				function goBack() {
					const id = /*[[ ${id} ]]*/ 0;
					// 작성과 수정이 같은 페이지기 때문에 id 유무에 따라 처리
					id ? location.replace(`/board/view/${id}` + location.search) : goListWithReplace();
				}
				
				/*
				 * 게시글 조회
				 */
				function findBoard() {
					const id = /*[[ ${id} ]]*/ 0;

					if (!id) {
						return false;
					}

					fetch(`/api/boards/${id}`).then(response => {
						if (!response.ok) {
							throw new Error('Request failed...');
						}
						return response.json();
					}).then(json => {
						const form = document.getElementById('form');
						form.title.value = json.title;
						form.content.value = json.content;
						form.writer.value = json.writer;
					}).catch(error => {
						alert('게시글 정보를 찾을 수 없습니다.');
						goListWithReplace();
					});
				}
				
				/*
				* 유효성 검사
				*/
				function isValid() {
					const form = document.getElementById('form');

					if (!form.title.value.trim()) {
						alert('제목을 입력해 주세요.');
						form.title.value = '';
						form.title.focus();
						return false;
					}

					if (!form.writer.value.trim()) {
						alert('작성자를 입력해 주세요.');
						form.writer.value = '';
						form.writer.focus();
						return false;
					}

					if (!form.content.value.trim()) {
						alert('내용을 입력해 주세요.');
						form.content.value = '';
						form.content.focus();
						return false;
					}

					return true;
				}

				/*
				* 게시글 등록(생성/수정)
				*/
				function writeBoard() {
					if (!isValid()) {
						return false;
					}
					
					const formData = new FormData(form);
					const id = /*[[ ${id} ]]*/ 0;
					const uri = id ? `/api/boards/${id}` : '/api/boards';
					const method = id ? 'PATCH' : 'POST';				

					fetch(uri, {
						method: method,
						body: formData
					}).then(response => {
						if (!response.ok) {
							throw new Error('Request failed...');
						}

						alert('저장되었습니다.');

						goBack();

					}).catch(error => {
						console.log(error);
						alert('오류가 발생하였습니다.');
					});
				}
				
				/*
				* 파일 삭제하기
				*/
				function deleteFile(fileId) {
					const id = /*[[ ${id} ]]*/ 0;
					const url = `/api/boards/${id}/files/${fileId}`;
					
					if (!confirm('해당 파일을 삭제할까요?')) {
						return false;
					}
					
					fetch(url, {
						method: 'DELETE'
					}).then(response => {
						if (!response.ok) {
							throw new Error('Request failed...');
						}
						
						alert('파일이 삭제되었습니다.');
						findAllBoardFileOriginalNames();
					}).catch(error => {
						alert('파일 삭제 중 오류가 발생했습니다.');
					})
				}
				
				/*
				* 파일 원본 이름 리스트 조회하기
				*/
				function findAllBoardFileOriginalNames() {
					const id = /*[[ ${id} ]]*/ 0;
					const url = `/api/boards/${id}/files`;
					
					fetch(url).then(response => {
						if (!response.ok) {
							throw new Error('Request failed...');
						}
						
						return response.json();
					}).then(json => {
						let html = '';
						if (json.length !== 0) {
							html += `<label for="inp-type-5" class="col-sm-2 control-label">첨부파일</label>`;
							json.forEach(json => {
								html += `<span>
							              		<span>${json.originalName}</span>
							              		<button type="button" onclick="deleteFile(${json.id});" style="margin-right: 20px;">Delete</button>
						    			</span>
						    		`;
							})
							
							
						}
						document.querySelector('.original-name-list').innerHTML = html;
					})
				}
			/*]]>*/
		</script>
	</th:block>
	
</html>