<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jk.board.mapper.BoardMapper">
	
	<!-- SELECT 결과 Map-->
	<resultMap id="BoardResultMap" type="com.jk.board.dto.BoardResponse">
		<result property="id" column="board_id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="writer" column="writer" />
		<result property="hits" column="hits" />
		<result property="isDeleted" column="is_deleted" />
		<result property="createdDate" column="created_date" />
		<result property="modifiedDate" column="modified_date" />
	</resultMap>
	
	<!-- WHERE 조건-->
	<sql id="conditions">
		<where>
			is_deleted = 0
			<if test="keywordForSearch != null and keywordForSearch.equals('') == false">
				<choose>
					<when test="searchType == null or searchType.equals('')">
						AND (
							title LIKE '%' || #{keywordForSearch} || '%'
							OR content LIKE '%' || #{keywordForSearch} || '%'
							OR writer LIKE '%' || #{keywordForSearch} || '%'
						)
					</when>
					<otherwise>
						<choose>
							<when test="searchType.equals('title')">
								AND title LIKE '%' || #{keywordForSearch} || '%'
							</when>
							
							<when test="searchType.equals('content')">
								AND content LIKE '%' || #{keywordForSearch} || '%'
							</when>
							
							<when test="searchType.equals('writer')">
								AND writer LIKE '%' || #{keywordForSearch} || '%'
							</when>
						</choose>
					</otherwise>
				</choose>
			</if>
		</where>
	</sql>
	
	<!-- 게시글 수 조회 -->
	<select id="countBoard" parameterType="com.jk.board.paging.BoardCommonParams" resultType="int">
		SELECT
			COUNT(*)
		FROM
			board
		<include refid="conditions" />
	</select>
	
	<!-- 게시글 리스트 조회 -->
	<select id="findAllBoards" parameterType="com.jk.board.paging.BoardCommonParams" resultMap="BoardResultMap">
		SELECT
			board_id
			, title
			, content
			, writer
			, hits
			, is_deleted
			, created_date
			, modified_date
		FROM
			board
		<include refid="conditions" />
		ORDER BY
			board_id DESC, created_date DESC
		OFFSET #{pagination.offsetStart} ROWS FETCH NEXT #{recordPerPage} ROWS ONLY
	</select>
</mapper>