<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${id == null ? '게시글 작성' : '게시글 수정'}"></title>
</head>

<style>
	.layout {
		width: 500px;
		margin: 0 auto;
		margin-top: 40px;
	}
	
	.layout input {
		width: 100%;
		box-sizing: border-box;
	}
	
	.layout textarea {
		width: 100%;
		margin-top: 10px;
		min-height: 300px;
	}
	
</style>

<body>
	<th:block th:if="${board == null}">
		<div class="layout">
			<form th:action="@{/board/writepro}" method="post" enctype="multipart/form-data">
				<input name="title" type="text">
				<textarea name="content"></textarea>
				<input type="file" name="file">
				<button type="submit">작성</button>
			</form>
		</div>
	</th:block>
	
	<th:block th:unless="${board == null} ">
		<div class="layout">
			<!--모델 객체가 하나만 있다면 th:object를 생략할 수 있다.-->
			<!--타임 리프는 모델에 있는 유일한 객체를 자동으로 현재 컨텍스트로 설정하기 때문이다.-->
			<form th:object="${board}" th:action="@{/board/writepro/{id}(id = *{id})}" method="post" enctype="multipart/form-data">
				<input name="title" type="text" th:field="*{title}">
				<textarea name="content" th:field="*{content}"></textarea>
				<input type="file" name="file">
				<button type="submit">수정</button>
			</form>
		</div>
	</th:block>
</body>
</html>